# List of requirements for the backend

# General
pdf2image
matplotlib
numpy

# Mongodb connector
pymongo[srv]

# FastAPI HTTP lib
uvicorn[standard]
fastapi
python-multipart
authlib
httpx
itsdangerous

# dotenv support
python-dotenv

# OCR NN
tensorflow
sklearn
tensorflow-datasets

# Vision framework
opencv-python
fpdf
qrcode
pdf2image

# required for oauth authentication
authlib
itsdangerous
httpx