# List of requirements for the backend

# General
pdf2image
matplotlib
numpy

# Mongodb connector
pymongo[srv]

# FastAPI HTTP lib
uvicorn[standard]
fastapi
python-multipart
authlib
httpx
itsdangerous

# dotenv support
python-dotenv

# OCR NN
sklearn
tqdm
torch
torchvision
torchaudio

# Vision framework
opencv-python
fpdf
qrcode
pdf2image
pyzbar

# required for oauth authentication
authlib
itsdangerous
httpx
