# List of requirements for the backend

# Mongodb connector
pymongo[srv]

# FastAPI HTTP lib
uvicorn[standard]
fastapi
python-multipart

# OCR NN
tensorflow

# Vision framework
opencv-python
fpdf
qrcode
